:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --hero-text-color: #ffffff;
  --accent-text-color: #2196f3;
  --secondary-bg: #f5f4fa;
  --contrast-bg: #2f303a;
  --logo-text-color: #000000;
  --accent-btn-color: #188ce8;
  --primary-bg-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ЛОГО */

.logo {
  color: var(--accent-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.second-part {
  color: var(--logo-text-color);
  font-family: "Raleway", sans-serif;
}

/* ШАПКА */

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .active-page {
  color: var(--accent-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.contact .link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
}

.link:hover,
.link:focus,
.adress-section .link:hover,
.adress-section .link:focus {
  color: var(--accent-text-color);
}

/* ГЕРОЙ */

.hero-section {
  background-color: var(--contrast-bg);
}

.hero-title {
  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  background-color: var(--accent-text-color);
  color: var(--hero-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-btn-color);
  cursor: pointer;
}
/* ОСОБЕННОСТИ */

.feature-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* ЧЕМ МЫ ЗАНИМАЕМСЯ */

.speciality-title,
.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* КОМАНДА */

.team-section {
  background-color: var(--secondary-bg);
}

.team-item {
  background-color: var(--primary-bg-color);
}

.staff-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.position {
  font-size: 16px;
  line-height: 1.19;
}

/* ПОДВАЛ */

.footer-section {
  background-color: var(--contrast-bg);
}
.footer-section .second-part {
  color: var(--hero-text-color);
}

.adress-section {
  color: var(--hero-text-color);
  font-style: normal;
}

.adress-section .link {
  color: var(--footer-link-color);
}

.button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.example-btn {
  background-color: var(--secondary-bg);
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.62;
  cursor: pointer;
}

.example-btn:hover,
.example-btn:focus {
  background-color: var(--accent-text-color);
  color: var(--hero-text-color);
}

.works-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-item {
  font-size: 16px;
  line-height: 1.86;
}
