:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --hero-text-color: #ffffff;
  --accent-text-color: #2196f3;
  --secondary-bg: #f5f4fa;
  --contrast-bg: #2f303a;
  --logo-text-color: #000000;
  --accent-btn-color: #188ce8;
  --primary-bg-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ЛОГО */

.header-border {
  border-bottom: 1px solid #ececec;
}

.main-header {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--accent-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.second-part {
  color: var(--logo-text-color);
  font-family: "Raleway", sans-serif;
}

/* ШАПКА */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.contact {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.site-nav .item + .item,
.contact .item + .item {
  margin-left: 50px;
}

.site-nav .link,
.contact .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact .link .site-nav .active-page {
  color: var(--accent-text-color);
}

.contact .link {
  display: flex;
  align-items: center;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.contact .link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
}

.link:hover,
.link:focus,
.adress-section .link:hover,
.adress-section .link:focus {
  color: var(--accent-text-color);
}

.contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

/* ГЕРОЙ */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;

  background-size: cover;
  background-color: var(--contrast-bg);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  padding: 10px 32px;
  background-color: var(--accent-text-color);
  color: var(--hero-text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 200px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-btn-color);
  cursor: pointer;
}
/* ОСОБЕННОСТИ */

.feature {
  padding-top: 94px;
  padding-bottom: 0;
}

.feature-list {
  display: flex;
  flex-wrap: nowrap;
}

.feature-list > .item {
  width: 270px;
  margin-right: 30px;
}

.feature-list > .item:last-child {
  margin-right: 0;
}

.feature-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  text-align: center;
}

.icon-antenna,
.icon-clock,
.icon-diagram,
.icon-astronaut {
  width: 70px;
  height: 70px;
}

.feature-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* ЧЕМ МЫ ЗАНИМАЕМСЯ */

.speciality-list {
  display: flex;
}

.speciality-list > .item {
  margin-right: 30px;
}

.speciality-list > .item:last-child {
  margin-right: 0;
}

.img-block {
  display: block;
}

.speciality-title,
.team-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* КОМАНДА */

.team {
  background-color: var(--secondary-bg);
}

.team-list {
  display: flex;
}

.team-item {
  margin-right: 30px;
  background-color: var(--primary-bg-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:last-child {
  margin-right: 0;
}

.team-wrapper {
  padding: 30px 32px;
}

.social-web .link:hover,
.social-web .link:focus {
  background-color: var(--accent-text-color);
  color: var(--hero-text-color);
}

.staff-name {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.position {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.social-web .icon-color {
  fill: currentColor;
}

/* ПОСТОЯННЫЕ КЛИЕНТЫ */

.clients-logo {
  display: flex;
  align-items: center;
}

.clients-logo .item {
  margin-right: 30px;
  height: 92px;
  width: 170px;
  cursor: pointer;
}

.clients-logo .link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-logo .link:hover,
.clients-logo .link:focus {
  color: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

.clients-logo .item:last-child {
  margin-right: 0;
}

.logo-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* ПОДВАЛ */

.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--contrast-bg);
}

.footer-wrapper {
  display: flex;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.footer .second-part {
  color: var(--hero-text-color);
}

.adress-section {
  color: var(--hero-text-color);
  font-style: normal;
}

.adress-section .link {
  color: var(--footer-link-color);
  display: block;
  margin-top: 9px;
}

.networks-wrapper {
  margin-left: 70px;
  padding-top: 12px;
}

.social-net {
  display: flex;
  justify-content: center;
}

.social-web {
  display: block;

  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  border-radius: 50%;
}

.social-web:last-child {
  margin-right: 0;
}

.networks-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-text-color);
  text-align: center;
}

.social-web .link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 50%;
}

.icon-instagram,
.icon-twitter,
.icon-facebook,
.icon-linkedin {
  width: 20px;
  height: 20px;
  fill: var(--hero-text-color);
}

/* ПОРТФОЛИО */

.example-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button {
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
}

.example-btn {
  padding: 6px 22px;
  background-color: var(--secondary-bg);
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.example-list > .item {
  margin-right: 9px;
}

.example-list > .item:last-child {
  margin-right: 0;
}

.example-btn:hover,
.example-btn:focus {
  background-color: var(--accent-text-color);
  color: var(--hero-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.current {
  background-color: var(--accent-text-color);
  color: var(--hero-text-color);
}

.example-pic {
  display: flex;
  flex-wrap: wrap;
}

.example-pic .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.example-pic .item:nth-child(3n) {
  margin-right: 0;
}

.example-pic .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.example-pic .item:hover,
.example-pic .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example-wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.example-item {
  font-size: 16px;
  line-height: 1.86;
}
