.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desctop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__container {
  @extend %container;

  @media screen and (min-width: $mobile) {
    width: 480px;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desctop) {
    width: $desctop;
  }
}

.clients-logo {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  @media screen and (min-width: $desctop) {
    width: $desctop;
    align-items: center;
  }

  @media screen and (min-width: $desctop) {
    flex-wrap: nowrap;
  }
}

.clients-logo__item {
  // margin-right: 30px;
  height: 92px;
  // width: 170px;
  cursor: pointer;
  width: calc((100% - 4 * 15px) / 2);
  margin: 15px;

  &__item:last-child {
    margin-right: 0;
  }

  @media screen and (min-width: $tablet) {
    width: calc((100% - 6 * 15px) / 3);
  }
}

.clients-logo__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.clients-logo__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  &:hover,
  &:focus {
    border-color: $accent-text-color;
  }
}
