.contacts {
  display: flex;
  margin-left: auto;
  // align-items: center;
  flex-direction: column;

  @media screen and (max-width: 767px) {
    margin-bottom: 64px;
  }

  @media screen and (min-width: $desctop) {
    flex-direction: row;
  }
}

.contacts__item {
  @media screen and (max-width: 767px) {
    order: 2;
  }
}

.contacts__item + .contacts__item {
  @media screen and (max-width: 767px) {
    order: 1;
  }

  @media screen and (min-width: $desctop) {
    margin-left: 50px;
  }
}

.contacts__link {
  display: flex;

  padding-bottom: 32px;
  color: $primary-text-color;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 24px;
  line-height: 1.16;

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: 1.16;
    padding-bottom: 10px;
  }

  @media screen and (min-width: $desctop) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__item + .contacts__item .contacts__link {
  font-size: 34px;
  line-height: 1.17;

  &:hover,
  &:focus {
    color: $accent-text-color;
  }

  @media screen and (max-width: 376px) {
    font-size: 27px;
  }

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: 1.16;
    padding-bottom: 0;
    color: $primary-text-color;
  }

  @media screen and (min-width: $desctop) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contact__link--active {
  color: $accent-text-color;
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
