.feature {
  padding-top: 94px;
  padding-bottom: 0;
}

.feature__container {
  @extend %container;
}

.feature__list {
  display: flex;
}

.feature__item {
  width: 270px;
  margin-right: 30px;
}

.feature__item:last-child {
  margin-right: 0;
}

.feature__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  text-align: center;
}
