.footer {
  // display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $contrast-bg;
}

.footer__container {
  @extend %container;
  text-align: center;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: $desctop) {
    width: $desctop;
    text-align: start;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__logo--color {
  color: $logo-text-color;
  font-family: "Raleway", sans-serif;
  color: $hero-text-color;
}
