.overlay-wrp {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.55;
  color: $hero-text-color;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pictures__thumb:hover .overlay-wrp {
  transform: translateY(0);
}
