.pic-wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.pic-wrapper__title {
  margin-top: 0;
  margin-bottom: 4px;
  color: $title-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.pic-wrapper__item {
  font-size: 16px;
  line-height: 1.86;
}
