%container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

%button {
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: 0;

  &:hover,
  &:focus {
    background-color: $accent-btn-color;
    cursor: pointer;
  }

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

%img {
  display: block;
}
